@use './../../vars.scss' as *;

.wrapper {
    position: absolute;
    position: fixed;
    background: white;
    top: 10vh;
    z-index: 1;
    border-radius: $commonBorderRadius;
    box-shadow: $popup-box-shadow;
    min-height: 300px;
}

.backGround {
    position: absolute;
    background: $transparent-back;
    height: 200vh;
    // height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    
}

