


.wrap {
  height: 300px;
  width: 500px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.btnsWrap {
  display: flex;
  justify-content: space-between;
  height: 50%;
  align-items: center;
  margin-bottom: 0;
}