@use './../../../../../vars.scss' as *;



.leftInfoPart {
    width: 35%;
    // border: $thin-gray-border;
    height: 100%;
    margin-right: 30px;
    // padding: 10px;
    // border-radius: 8px;
    //border: 1px solid orange;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}