@use './../../vars.scss' as *;

.contactContent {
    font-size: $small-fontSize;
    display: flex;
    div {
        &:first-child {
            
        }
    }
    button {
        background: unset;
        padding: 0;
    }
}

.item {
    display: flex;
    align-items: center;
    p {
        //border: 1px solid green;
        margin-right: 8px;
    }
}


.otherItems, c.hiddenItems {
    transition: all 600ms linear;
}


.hiddenItems {
    transform: translateZ(0);
}