@use './../../../vars.scss' as *;


.wrap {
    position: relative;
    margin-bottom: 20px;

    h2 {
        font-size: 14px;
        color: $active-green;
    }

    &>div:nth-child(2) {
        position: absolute;
        box-shadow: $popup-box-shadow;
        border-radius: $commonBorderRadius;
        cursor: pointer;
        z-index: 1;
    }
}

.mainWrap {
    display: flex;
    align-items: center;
    padding: 10px;
}

.title {
    &>div {
        display: flex;
        align-items: center;
    }
}

.visible,
.inVisible {
    background: white;
    transition: all 200ms linear;
    height: auto;
}

.inVisible,
.inVisibleItem {
    opacity: 0;
    transform: scale(0);

}

.chosen {
    margin-left: 10px;
}

.visibleItem,
.inVisibleItem {
    transition: all 200ms linear;

    &:hover {
        background: $super-light-gray;
    }

    span {
        display: block;
        padding: 10px;
    }
}