@use './../../../vars.scss' as *;

.checkBox {
    height: 12px;
    width: 12px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 13px;
        width: 13px;
        left: -1px;
        top: -1px;
        background: white;
        border-radius: 2px;
        border: 1px solid $dark-fontcolor;
    }

    &:checked {
        &::after {
            background: $dark-fontcolor;

        }
        &::before {
            content: '';
            width: 3px;
            height: 8px;
            position: absolute;
            z-index: 2;
            left: 4px;
            top: 0px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(50deg);
        }
    }

}