@use './../../../../../vars.scss' as *;

.wrapper {
    overflow: hidden;
    transition: all 200ms linear;
    margin: 20px 10px;
    //border: 1px solid darkcyan;
}

.container {
    //border: 1px solid rebeccapurple;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    overflow-y: visible;
    overflow-x: visible;
    transition: all 200ms linear;
    position: relative;

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: rgba(236,236,236, .4);
        }
    }
    &::-webkit-scrollbar {
        background: transparent;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $light-border-gray;
    }

}

.chosenItem,
.futureItem,
.passedItem {
    transition: all 200ms linear;
    cursor: pointer;
    margin: 0 6px;
    flex: 1;
    min-width: 130px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $super-light-gray;
    border: 1px solid transparent;

    &:last-child {
        border-radius: 0 8px 8px 0;
    }

    &:first-child {
        border-radius: 8px 0 0 8px;
    }

    p {
        text-align: center;
        display: block;
        flex: 6;
    }

}
.iconWrap {
    flex: 1;
}


.passedItem {
    background: $light-active-green;
    color: $active-green;
}

.chosenItem {
    background: $active-green;
    color: white;
}

.futureItem {
    background: $super-light-gray;
    color: $gray-blue;
}

