@use './../../../vars.scss' as *;


.header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 14px;

    h3 {
        margin-right: 20px;
        flex: 5;
    }

    svg {
        height: 22px;
        width: 30px;
    }
}

.grid {
    transition: all 100ms linear;

}

.line {
    padding: 40px 0 0 0;
    max-width: 100%;
    border-bottom: 1px solid $light-gray;
    position: relative;


    &:last-child {
        border-color: transparent;
        margin-bottom: 10px;
    }
    input {
        display: block;
        width: 100%;
        font-weight: 600;
        padding: 8px 2px;
        padding-right: 0px;
        cursor: pointer;
        border: 1px solid transparent;
        color: #666666;
        &:focus {
            border: 1px solid $light-border-gray;
        }

        &::placeholder {
            color: $light-fontcolor;
            font-style: italic;
        }
    }
    .cancelBtnWrap {
        position: absolute;
        top: 4px;
        right: 0;
    }
}

