@use './../../../../../../vars.scss' as *;


.header {
    border: 1px solid transparent;

}

.currentTitle {
    font-weight: 800;
    margin: 10px 30px;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    & span {
        margin-left: 10px;
    }

    ;
}

.titleHead {
    display: flex;
    align-items: center;
    align-content: center;
    // border: 1px solid orange;

}

.currentText {
    color: $light-fontcolor;
    margin: 10px 30px;
}

.currentFields {
    display: flex;
    align-items: stretch;
    //justify-content: space-around;
    border-top: 1px solid $light-border-gray;
    padding: 0;

    &>div {
        border-right: 1px solid $light-border-gray;
        flex: 1;
        padding: 10px;

        &:last-child {
            border: none;
        }
    }
}

.name {
    color: $light-fontcolor;
}

.part {
    display: flex;
    align-items: center;

    &>div {
        margin-right: 10px;
    }
}