@use './../../vars.scss' as *;


.loader,
.smallLoader {
    font-size: 18px;
    width: 100%;

    //height: 30px;
    //padding-left: 30px;
    //margin-top: 80px;
    span {
        background: $light-fontcolor;
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin-right: 6px;

        &:first-child {
            -webkit-animation: blink1 1500ms linear infinite;
            animation: blink1 1500ms linear infinite;
        }

        &:nth-child(2) {
            -webkit-animation: blink2 1500ms linear infinite;
            animation: blink2 1500ms linear infinite;
        }

        &:nth-child(3) {
            -webkit-animation: blink3 1500ms linear infinite;
            animation: blink3 1500ms linear infinite;
            margin-right: 0;
        }
    }
}

.smallLoader {
    height: 120px;
    width: 66px;
    margin: 0 auto;
    span {
        margin-top: 50px;
    }
}



@keyframes blink3 {
    0% {
        opacity: 0;
        transform: scale(.1)
    }

    50% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 0;
        transform: scale(.1)
    }
}

@keyframes blink2 {
    0% {
        opacity: .3;
        transform: scale(.3)
    }

    35% {
        opacity: 1;
        transform: scale(1)
    }

    75% {
        opacity: 0;
        transform: scale(.1)
    }

    100% {
        opacity: .3;
        transform: scale(.3)
    }
}

@keyframes blink1 {
    0% {
        opacity: .8;
        transform: scale(.8);
    }

    15% {
        opacity: 1;
        transform: scale(1);
    }

    60% {
        opacity: 0;
        transform: scale(.1);
    }

    100% {
        opacity: .8;
        transform: scale(.8);
    }
}


@-webkit-keyframes blink2 {
    0% {
        opacity: .3;
    }

    35% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: .3;
    }
}

@-webkit-keyframes blink3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}




@-webkit-keyframes blink1 {
    0% {
        opacity: .8;
    }

    15% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: .8;
    }
}




.preloaderWrap {
    height: 100vh;
}

.container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: calc(50vh - 25px);

    span {
        width: 50px;
        height: 50px;
        margin-right: 22px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .loader {
        padding-left: 0;
        margin-top: 0px;
        height: auto;
    }
}