


.wrap {
    // border: 2px solid pink;
    width: 100%;
    // padding: 10px;
}

.header {
    //border: 1px solid red;
    display: flex;
    margin: 10px 0;

    /* &>div {
        margin-right: 8px;
    } */
}
.tab {

}

.componentWrap {
    // border: 2px solid black;
}