@use './../../../vars.scss' as *;


.wrap {
  padding: .4em;
  transition: 100ms linear;
  border-bottom: 1px solid $light-border-gray;
  cursor: pointer;

  //border: 1px solid blue;
  &:last-child {
    border-bottom: none;
  }

  &:hover {
    font-weight: 500;
  }
}

.flexLine,
.headerLine {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  height: 60px;
  //border: 1px solid orange;


  & > div {
    width: 17%;

    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 10%;
    }
  }
}

.headerLine {
  font-weight: 700;
  padding: 0 10px;
  &>div {
    display: flex;
    align-items: center;
  }
}

.powersCol {
  div {
    &:nth-child(3) {
      color: $light-fontcolor;
    }
  }
}

.arrowOn, .arrowOff {
  transition: 100ms linear;
}
.arrowOff {
  transform: scale(0);
  //display: none;
}