$thin-gray-border: 1px solid #E1E9F2;
$light-border-gray: #E1E9F2;
$super-light-gray: #ececec;
$dark-fontcolor: #36403E;
$light-fontcolor: #7C7D7D;
$small-fontSize: 14px;
$light-gray: rgba(105,191,175,.2);
$violet-gray: #B3A1A1;
$gray: #A1B398;
$gray-blue: #434F4B;
$active-green: #69BFAF;
$light-active-green:rgba(105,191,175,.1);
$brown: #734B4D;
$commonBorderRadius: 8px;
$common-transition: all 200ms linear;
$popup-box-shadow: 4px 4px 12px 4px rgba(152, 179, 174, .3);
$transparent-back:  rgba(54,64,62, .3);
$test-border: 1px solid orange;
