@use './../../../vars.scss' as *;

.btn,
.hiddenBtn {
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background: transparent;
    width: 26px;
    height: 26px;
    transition: all 200ms linear;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: $light-fontcolor;
        transition: all 200ms linear;
    }

    &:hover {
        svg {
            fill: $dark-fontcolor;
        }
    }

    &:disabled {
        svg {
            fill: $light-active-green;
        }
    }
}

.hiddenBtn {
    opacity: 0;
    pointer-events: none;
    //height: 0;
}